html, body {
    margin: 0px;
    padding: 0px;
    font-family: "arial";
}

.row_container div {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.header {
    font-family: "Verdana";
    display: block;
    text-align: center;
}

.centering {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.content_area {
    display: block;
}

.board {
    display: inline-block;
    text-align: center;
}

.info, .possibleWords {
    width: 22em;
}


.row_container {
    display: block;
}
.row {
    display: inline-block;
}

.letter_container {
    display: inline;
}

.letter {
    font-family: "arial";
    width: 45px;
    height: 45px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: black;
    background-color: white;
    text-transform: uppercase;
    border: 2px solid #d3d6da;
    margin: 2.5px 2.5px;
}

button.solveButton {
    font-family: "arial";
    width: 45px;
    height: 45px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: white;
    background-color: black;
    text-transform: uppercase;
    border: none;
    margin: 2.5px 2.5px;
}

button.resetButton {
    font-family: "arial";
    font-size: 1rem;
    text-decoration: underline;
    vertical-align: middle;
    box-sizing: border-box;
    color: blue;
    background-color: transparent;
    border: none;
    margin: 2.5px 2.5px;
}

#loader {
    display: inline-flex;
    justify-content: center;
    z-index: 1;
    width: 42px;
    height: 42px;
    margin-top: 5px;
    border: 5px solid transparent;
    border-radius: 50%;
    border-top: 5px solid black;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-50px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-50px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }

  .flip-letter {
    -webkit-animation-name: flipletter;
    -webkit-animation-duration: 1s;
    animation-name: flipletter;
    animation-duration: 1s
  }
  
  @-webkit-keyframes flipletter {
    0% {
        background: scaleY(1);
      }
    50% {
    background: scaleY(0);
    }
    100% {
    background: scaleY(1);
    }
  }
  
  @keyframes flipletter { 
    0% {
        background: scaleY(1);
    }
    50% {
    background: scaleY(0);
    }
    100% {
    background: scaleY(1);
    }
  }